@import '../styles/common';
@import './routePathComparisonContainer';

.comparableRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: $smallFontSize;
    padding: $rowPadding;

    .label {
        text-align: center;
        padding: $rowPadding;
    }

    .values {
        display: flex;
        flex-direction: row;
        padding: $rowPadding;

        .value {
            display: flex;
            width: 50%;
        }

        .leftValue {
            justify-content: flex-end;
            margin-right: 10px;
        }
        .rightValue {
            justify-content: flex-start;
            margin-left: 10px;
        }
    }

    .equalValues {
        color: $mediumGrey;
    }
}
