@import '../styles/common';
@import './routePathComparisonContainer';

$nodeContainerWidthPercentage: 50%;
$nodeLeftColor: red;
$nodeRightColor: green;

.nodeDifferencesVisualizer {
    display: flex;
    flex-direction: column;

    .nodeRow {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        border-top: 1px solid $borderLightGrey;
        padding: 10px 0px 10px 0px;

        .headerContainer {
            display: flex;
            align-items: center;
            &.headerTextCommon {
                display: flex;
                width: 100%;
                justify-content: center;
            }

            .centerHeaderTextContainer {
                display: flex;
                width: 100%;
                justify-content: center;
                cursor: pointer;
                &.stopHeader {
                    color: $busBlue;
                    font-weight: bold;
                }
                &.stopHeader:hover {
                    transition: 0.5s;
                    color: darken($busBlue, 10%);
                }
                &.stopHeaderDisabled {
                    @extend .stopHeader;
                    opacity: 0.5;
                }
            }

            .transitTypeIconWrapper {
                display: flex;
                margin: 0px 5px 0px 5px;
            }
            .editPenIconWrapper {
                display: flex;
                margin: 0px 5px 0px 5px;
                color: $fontColorDefault;
                font-size: $largeFontSize;
                cursor: pointer;
                padding: 3px;
                border-radius: 5px;
                transition: 0.5s;
            }
            .editPenIconWrapper:hover {
                color: white;
                background-color: $busBlue;
            }
        }
        .headerTextLeft {
            display: flex;
            color: $nodeLeftColor;
            width: $nodeContainerWidthPercentage;
            cursor: pointer;
        }
        .headerTextLeft:hover {
            transition: 0.5s;
            color: darken($nodeLeftColor, 10%);
        }
        .headerTextRight {
            display: flex;
            color: $nodeRightColor;
            width: $nodeContainerWidthPercentage;
            cursor: pointer;
        }
        .headerTextRight:hover {
            transition: 0.5s;
            color: darken($nodeRightColor, 10%);
        }

        .nodeContainers {
            display: flex;
            flex-direction: column;

            .separateNodeRow {
                display: flex;
                width: 100%;
                font-size: $smallFontSize;
                padding: $rowPadding;

                .label {
                    padding: $rowPadding;
                    white-space: nowrap;
                }

                .value {
                    padding: $rowPadding;
                }
            }

            .alignContentLeft {
                display: flex;
                flex-direction: column;
                width: $nodeContainerWidthPercentage;
                align-items: flex-start;
            }

            .alignContentRight {
                display: flex;
                flex-direction: column;
                width: $nodeContainerWidthPercentage;
                align-items: flex-end;
            }

            .noResults  {
                padding: 5px;
                font-style: italic;
            }
        }
    }
}
