@import '../styles/common';

.routePathComparisonContainer {
    .subTopic {
        font-size: $mediumFontSize;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .firstSubTopicContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .hideEqualInformationButton {
            text-decoration: underline;
            font-size: $smallFontSize;
            cursor: pointer;
        }
        .hideEqualInformationButton:hover {
            transition: 0.5s;
            color: $fontColorLightGrey;
            height: 100%;
        }
    }

    .noResults  {
        font-style: italic;
    }
}
