@import '../styles/common';

$rowPadding: 2px;

.routePathComparisonContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px;

    .subTopic {
        font-size: $largeFontSize;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .firstSubTopicContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .toggleButtonContainer {
            display: flex;

            .toggleButton {
                text-decoration: underline;
                font-size: $smallFontSize;
                cursor: pointer;
                margin-left: 5px;
            }
            .toggleButton:hover {
                transition: 0.5s;
                color: $fontColorLightGrey;
                height: 100%;
            }
        }
    }

    .differencesContainer {
        display: flex;
        flex-direction: column;
    }

    .noResults  {
        padding: 5px;
        font-style: italic;
    }
}
