@import '../../shared/styles/common';
@import '../../shared/styles/form';

.lineHeaderTableView {
    width: 100%;
    padding-top: 20px;

    .lineHeaderTable {
        width: 100%;
        font-size: $smallFontSize;
        border-collapse: separate;
        border-spacing: 0 5px; /* Padding top/bottom between table rows */

        td {
            padding-left: 10px;
        }
        td:first-of-type {
            padding: 0px;
        }
        .columnHeader {
            white-space: nowrap;
            text-align: start;
            padding-left: 10px;
        }
        .columnHeader:first-of-type {
            padding-left: 0px;
        }
        .timestampRow {
            white-space: nowrap;
        }

        .lineHeaderRowHighlight {
            background-color: $lightblue;
        }

        .editLineHeaderButton {
            font-size: 1.8em;
            padding: 3px;
        }
    }

    .buttonContainer {
        height: 100%;
        display: flex;
        flex-direction: column;

        .createNewLineHeaderButton {
            width: 50%;
            padding: 10px 20px 10px 20px;
            margin: 0px 0px 10px auto;
        }
        .saveLineHeadersButton {
            margin-top: auto;
        }
    }
}
