@import '../../shared/styles/common';
@import '../../shared/styles/form';

$cellPadding: 5px;

.lineHeaderTableView {
    width: 100%;
    padding-top: 20px;

    .lineHeaderTable {
        width: 100%;
        border-collapse: collapse;

        .header {
            display: flex;
        }

        .columnHeader {
            white-space: nowrap;
            text-align: start;
            padding-left: $cellPadding;
        }

        .columnHeader:first-child {
            padding-left: 0px;
        }

        .lineHeaderTableRow {
            border-bottom: 1px solid #dfdfdf;

            .lineHeaderTableCalendarCell {
                min-width: 125px;
                padding: $cellPadding;
                vertical-align: top;

                .timeInput {
                    padding-top: 0px;
                }
            }

            .lineHeaderTableButtonCell {
                vertical-align: top;
                padding-top: $cellPadding;
            }
        }

        .lineHeaderRowHighlight {
            background-color: $lightblue;
        }

        .editLineHeaderButton {
            display: flex;
            font-size: 1.8em;
            padding: 6px;
            margin-bottom: auto;
        }
    }

    .buttonContainer {
        display: flex;
        flex-direction: column;

        .createNewLineHeaderButton {
            width: 50%;
            padding: 10px 20px 10px 20px;
            margin: 10px 0px 10px auto;
        }

        .saveLineHeadersButton {
            margin-top: 20px;
        }
    }
}
