@import '../../shared/styles/common';
@import '../../shared/styles/sidebar';
@import '../../shared/styles/flexbox';
@import '../../shared/styles/form';

.lineView {
    width: $sidebarWide;
    height: 100%;
    display: flex;
    flex-direction: column;

    &.loaderContainer > div {
        margin: 30px auto;
    }

}
