@import '../../shared/styles/common';
@import '../../shared/styles/flexbox';
@import '../../shared/styles/form';

.lineRoutesTabView {
    height: 100%;
    flex-direction: column;
    display: flex;
    overflow-y: auto;

    .content {
        padding: 15px;

        .routeListItem {
            display: flex;
            align-items: center;
            padding: 10px;
            cursor: pointer;

            .routeId {
                white-space: nowrap;
                font-size: $largeFontSize;
            }
        }

        .routeListItem:hover {
            background-color: $backgroundHoverColor;
        }

        .routeListItem > * {
            margin: 5px; // Add some spacing between elements
        }

        .createRouteButton {
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }
}
