@import '../../shared/styles/common';
@import '../../shared/styles/flexbox';
@import '../../shared/styles/form';

.lineInfoTabView {
    display: flex;
    flex-direction: column;
    padding: 15px;
}
