@import '../../shared/styles/common';
@import '../../shared/styles/flexbox';
@import '../../shared/styles/form';

$cellPadding: 5px 2px 5px 2px; // same as in lineHeaderTableRows.scss

.lineHeaderTableView {
    width: 100%;
    padding-top: 20px;

    .lineHeaderTable {
        width: 100%;
        border-collapse: collapse;

        .header {
            display: flex;
        }

        .columnHeader {
            white-space: nowrap;
            text-align: start;
            padding: $cellPadding;
        }

        .columnHeader:first-child {
            padding-left: 0px;
        }
    }

    .saveLineHeadersButton {
        margin-top: 10px;
    }

    .lineHeaderButtonContainer {
        display: flex;
        flex-direction: row;
        padding: 10px 0px 10px 0px;
    }
}
