@import '../../shared/styles/common';
@import '../../shared/styles/flexbox';
@import '../../shared/styles/form';

.lineInfoTabView {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.sectionDivider {
    margin: 30px 0px 10px 0px;
    border-bottom: 1px solid $borderLightGrey;
}
