@import '../../../shared/styles/common';
@import '../../../shared/styles/flexbox';
@import '../../../shared/styles/form';

.routePathTab {
    padding: 15px 15px 45px 15px;

    .routeInformationContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top:10px;
    }

    .staticInfo {
        margin-top: 5px;
        font-size: $smallFontSize;
        margin-right: 10px;
        font-weight: bold;
    }
}
