@import '../routePathView.scss';

.routePathInfoTabView {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    padding: 15px 15px 45px 15px;

    .lengthIcon {
        display: inline-block;
        margin-left: 5px;
        cursor: pointer;
    }

    .routeInformationContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 10px;
    }

    .buttonBar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;
        div {
            margin: 10px 0px 0px 0px;
        }
    }
}
