@import '../../../shared/styles/common';

.unmeasuredStopGapPrompt  {
    padding: 20px;

    div {
        padding-bottom: 5px;
    }
    div:last-of-type {
        padding-bottom: 0px;
    }

    .header {
        display: flex;
        padding-top: 20px;
        align-items: center;

        .exclamationMark {
            display: flex;
            margin-right: 10px;
            color: $fontColorDefault;
            min-width: 25px;
            height: 25px;
        }
    }
}
