.unmeasuredStopGapPrompt  {
    padding: 20px;

    div {
        padding-bottom: 5px;
    }
    div:last-of-type {
        padding-bottom: 0px;
    }

    .header {
        padding-top: 20px;
    }
}
