@import '../../shared/styles/common.scss';

.node {
    display: block;
    opacity: 0.8;

    .nodeContent {
        border-radius: 100px;
        border-style: solid;
        height: 12px;
        width: 12px;
        border-width: 3px;
        margin: -3px;
    }

}

.crossroadCircle {
    stroke: none;
    fill: #727272;
    fill-opacity: 0.3;
}

.stopCircle {
    stroke: none;
    fill: $busBlue;
    fill-opacity: 0.3;
}


