@import '../../shared/styles/common.scss';

.node {
    display: block;
    opacity: 0.8;

    .nodeContent {
        border-radius: 100px;
        border-style: solid;
        height: 12px;
        width: 12px;
        border-width: 3px;
        margin: -3px;
    }

    .crossroadMarker {
        border-color: #727272;
        background-color: #FFF;
    }

    .crossroadMarkerHighlight {
        border-color: #727272;
        background-color: #727272;
    }

    .stopMarker {
        border-color: #007ac9;
        background-color: #FFF;
    }

    .stopMarkerHighlight {
        border-color: #007ac9;
        background-color: #007ac9
    }

    .unknownMarker {
        border-color: #ff0000;
        background-color: #000;
    }

    .unknownMarkerHighlight {
        border-color: #ff0000;
        background-color: #000;
    }
}

.crossroadCircle {
    stroke: none;
    fill: #727272;
    fill-opacity: 0.3;
}

.stopCircle {
    stroke: none;
    fill: $busBlue;
    fill-opacity: 0.3;
}



