@import '../../shared/styles/common.scss';

.leafletPopup {
    /* Leaflet overrides. More overrides at index.scss */
    & > div:first-child {
        margin: 0;
        padding: 0;
        font-family: $hslFont;
        border-style: solid;
        border-width: 1px;
        border-color: #aaa;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 14px rgba(0, 0, 0, 0.4);
        border-radius: 7px;
    }

    & > div:first-child:hover {
        border-radius: 7px;
    }

    .popupContentWrapper {
        padding: 0;
        margin: 0;
        max-height: 600px;
        overflow-y: auto;
        background-color: $backgroundlightGrey;
    }
}
