@import './nodeMarker.scss';

$markerHeightSmall: 14px;
$markerHeightLarge: 17px;

.clusterNodeMarker {
    display: flex;
    background-color: white;
}

.clusterNodeMarkerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    line-height: 100%;
}

:export {
    markerHeightSmall: $markerHeightSmall;
    markerHeightLarge: $markerHeightLarge;
}