
.iconBase {
    display: block;
    opacity: 0.8;
    width: 35px !important;
    height: 35px !important;
    top: -8px;
    left: -12px;
}

.iconBaseNotClickable {
    @extend .iconBase;
    pointer-events: none !important;
}