@import '../../../shared/styles/common';

$iconBorderWidthSmall: 2px;
$iconBorderWidthNormal: 3px;
$iconBorderWidthLarge: 3px;
$iconFullWidthSmall: 14;
$iconFullWidthNormal: 20;
$iconFullWidthLarge: 27;

.node {
    display: block;
    cursor: pointer;
    border-radius: 100px;
    border-style: solid;

    .nodeLabel {
        position: absolute;
        font-weight: 600;
        text-shadow: 0 0 5px white, 0 0 5px white;
        color: $fontColorDefault;
    }
}

.bus {
    border-color: $busBlue;
    color: $busBlue;
}

.tram {
    border-color: $tramGreen;
    color: $tramGreen;
}

.train {
    border-color: $trainPurple;
    color: $trainPurple;
}

.subway {
    border-color: $subwayOrange;
    color: $subwayOrange;
}

.ferry {
    border-color: $ferryBlue;
    color: $ferryBlue;
}

.unusedStop {
    border-color: $unusedNodeColor;
    color: $unusedNodeColor;
}

.smallSize {
    border-width: $iconBorderWidthSmall;
    .nodeLabel {
        left: 18px;
    }
}
.normalSize {
    border-width: $iconBorderWidthNormal;
    .nodeLabel {
        left: 25px;
    }
}

.largeSize {
    border-width: $iconBorderWidthLarge;
    .nodeLabel {
        left: 31px;
    }
}

.highlightBlue {
    box-shadow: 0px 0px 15px 9px $busBlue;
}

.highlightGreen {
    box-shadow: 0px 0px 15px 9px $tramGreen;
}

.highlightYellow {
    box-shadow: 0px 0px 15px 9px #cfc400;
}

.nodeNotClickable {
    @extend .node;
    pointer-events: none !important;
}

.stopCircle {
    stroke: none;
    fill: $busBlue;
    fill-opacity: 0.3;
    pointer-events: none !important;
}

.leaflet-popup-tip-container {
    pointer-events: all;
}

:export {
    iconFullWidthSmall: $iconFullWidthSmall;
    iconFullWidthNormal: $iconFullWidthNormal;
    iconFullWidthLarge: $iconFullWidthLarge;
}
