@import '../../../shared/styles/common';

$iconBorderWidthSmall: 2px;
$iconWidthSmall: 10px;
$iconFullWidthSmall: 14; // $iconWidthSmall + 2 * $iconBorderWidthSmall
$iconBorderWidthNormal: 3px;
$iconWidthNormal: 14px;
$iconFullWidthNormal: 20; // $iconWidthNormal + 2 * $iconBorderWidthNormal

.node {
    display: block;
    opacity: 1;
    cursor: pointer;
    border-radius: 100px;
    border-style: solid;

    &.smallSize {
        height: $iconWidthSmall !important; // if changed, change also $iconFullWidthSmall
        width: $iconWidthSmall !important; // if changed, change also $iconFullWidthSmall
        border-width: $iconBorderWidthSmall; // if changed, change also $iconFullWidthSmall
    }
    &.normalSize {
        height: $iconWidthNormal !important; // if changed, change also $iconFullWidthNormal
        width: $iconWidthNormal !important; // if changed, change also $iconFullWidthNormal
        border-width: $iconBorderWidthNormal; // if changed, change also $iconFullWidthNormal
    }
    &.highlightBlue {
        box-shadow: 0px 0px 15px 9px $busBlue;
    }
    &.highlightGreen {
        box-shadow: 0px 0px 15px 9px $tramGreen;
    }
}

.nodeNotClickable {
    @extend .node;
    pointer-events: none !important;
}

.crossroadCircle {
    stroke: none;
    fill: #727272;
    fill-opacity: 0.3;
    background-color: grey;
}

.stopCircle {
    stroke: none;
    fill: $busBlue;
    fill-opacity: 0.3;
    pointer-events: none !important;
}

.nodeLabel {
    position: absolute;
    left: 30px;
    font-weight: 600;
    text-shadow: 0 0 5px white, 0 0 5px white;
}

.leaflet-popup-tip-container {
    pointer-events: all;
}

:export {
    iconFullWidthSmall: $iconFullWidthSmall;
    iconFullWidthNormal: $iconFullWidthNormal;
}
