@import '../../../shared/styles/common';

.node {
    display: block;
    opacity: 0.8;

    .nodeBase {
        border-radius: 100px;
        border-style: solid;
        height: 12px;
        width: 12px;
        border-width: 3px;
        margin: -3px;
    }

    .highlightBlue {
        box-shadow: 0px 0px 15px 9px $busBlue;
    }
    .highlightGreen {
        box-shadow: 0px 0px 15px 9px $tramGreen;
    }
}

.nodeNotClickable {
    @extend .node;
    pointer-events: none !important;
}

.crossroadCircle {
    stroke: none;
    fill: #727272;
    fill-opacity: 0.3;
    background-color: grey;
}

.stopCircle {
    stroke: none;
    fill: $busBlue;
    fill-opacity: 0.3;
    pointer-events: none !important;
}

.nodeLabel {
    position: absolute;
    left: 30px;
    font-weight: 600;
    text-shadow: 0 0 5px white, 0 0 5px white;
}

.leaflet-popup-tip-container {
    pointer-events: all;
}
