@import '../../shared/styles/common.scss';
@import '../../shared/styles/sidebar.scss';

.homeView {
    display: flex;
    flex-direction: column;
    width: $sidebarNarrow;

    .routesText {
        font-weight: bold;
    }
}
