@import '../../../shared/styles/common';

.nodeCoordinatesListView {
  .measured {
    background: $nodeMeasuredColor;
  }
  .manual {
    background: $nodeManualColor;
  }
  .projection {
    background: $nodeProjectionColor;
  }
}