@import '../styles/common.scss';

.lineItemView {
    text-decoration: none;
    color: $fontColorDefault;

    .lineItem {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 5px;

        .lineLabel {
            font-size: $largeFontSize;
            font-weight: 600;
        }

        .icon {
            margin-right: 10px;
            flex-shrink: 0;
        }
    }
    .lineItem:hover {
        background-color: $backgroundHoverColor;
        transition: 0.5s;
    }

    .routeItem {
        margin-bottom: 10px;

        .routeItemHeader {
            display: flex;
            margin: 4px 10px;
            flex-direction: column;

            .routeName {
                font-weight: bold;
                cursor: pointer;
                padding-top: 3px;
                padding-bottom: 3px;
                padding-left: 2px;
                border-radius: 5px;
                transition: 0.5s;
            }

            .routeName:hover {
                background-color: $backgroundHoverColor;
                transition: 0.5s;
            }

            .routeDate {
                font-size: $smallFontSize;
                padding: 5px 2px;
            }
        }
    }
}
