.lineSearchView {

    .inputContainer {
        padding: 10px;

      .searchInput {
            width: 100%;
            box-sizing: border-box;
            padding: 18px;
            text-indent: 4px;
            border-radius: 5px;

        }
    }

    .searchResultsContainer {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}
