@import '../styles/common.scss';

.lineItemView {
    text-decoration: none;
    color: $fontColorDefault;
    padding-bottom: 10px;

    .lineContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .lineItem {
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-top: 0;
            margin-bottom: 0;
            padding: 5px 10px 5px 10px;
            justify-content: space-between;
            .lineLabel {
                font-size: $extraLargeFontSize;
                font-weight: 600;
            }

            .icon {
                margin-right: 10px;
                flex-shrink: 0;
            }
        }

        .openAllRoutesButton {
            padding: 10px;
            width: 100px;
            color: #5a5a5a;
            font-size: $smallFontSize;
            cursor: pointer;
            white-space: nowrap;
        }
        .openAllRoutesButton:hover {
            background-color: $backgroundHoverColor;
            transition: 0.5s;
        }
    }
    .lineItem:hover {
        background-color: $backgroundHoverColor;
        transition: 0.5s;
    }

    .routeItem {
        margin-left: 10px;
        padding-bottom: 5px;

        .routeItemHeader {
            display: flex;
            flex-direction: column;

            .routeName {
                cursor: pointer;
                padding: 7px;
                border-radius: 5px;
                transition: 0.5s;
            }

            .routeName:hover {
                background-color: $backgroundHoverColor;
                transition: 0.5s;
            }
        }
    }
}
