@import '../../shared/styles/common.scss';

.nodeItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;

    > svg {
        margin-right: 10px;
        font-size: 24px;
    }

    .nodeIconWrapper {
        margin-right: 5px;
    }

    .nodeItemTextContainer {
        font-size: $largeFontSize;
        display: flex;
        width: 100%;

        > span {
            color: #5a5a5a;
            font-weight: bold;
            width: 120px;
        }

        > div {
            font-size: 14px;
            margin: auto;
            flex-grow: 1;
        }
    }
}

.nodeItem:hover {
    background-color: $backgroundHoverColor;
    transition: 0.5s;
}
