@import '../../shared/styles/common.scss';

.nodeItem {
    display: flex;
    align-items: center;
    color: #5a5a5a;
    cursor: pointer;
    margin: 3px 0;
    padding: 3px 0;
    border-radius: 4px;

    > svg {
        margin-right: 10px;
        font-size: 24px;
    }

    .nodeItemTextContainer {
        font-size: 1.5rem;
        font-weight: 600;
        display: flex;
        width: 100%;

        > span {
            width: 150px;
        }

        > div {
            font-size: 14px;
            color: #5a5a5a;
            margin: auto;
            flex-grow: 1;
        }
    }
}

.nodeItem:hover {
    background-color: $backgroundHoverColor;
    transition: 0.5s;
}
