.lineSearchView {
    .inputContainer {
        padding: 10px;
        position: relative;

        .loader {
            position: absolute;
            right: 25px;
            top: 20px;
        }
    }

    .searchResultsContainer {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}
