@import '../styles/common.scss';
.searchResultsView {
    display: flex;
    flex-direction: column;
    height: 100%;

    .searchResultsWrapper {
        overflow-y: auto;
        padding-left: 10px;
        padding-right: 10px;
        height: 100%;
    }

    .searchResultButton{
        padding: 20px;
        background-color: $busBlue;
        color: #FFF;
        text-align: center;
        font-size: $mediumFontSize;
        cursor: pointer;
    }
    .noResults {
        text-align: center;
        margin-top: 20px;
    }
}
.loaderContainer {
    margin: 30px auto;
}
