@import '../styles/common.scss';
@import '../styles/sidebar.scss';

.searchResultsView {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;

    .searchResultsWrapper {
        overflow-y: auto;
        padding-left: 10px;
        padding-right: 10px;
        height: 100%;
    }

    .noResults {
        text-align: center;
        margin-top: 20px;
    }
}
.loaderContainer {
    margin: 30px auto;
}
