.leaflet-popup-tip-container {
  pointer-events: all;
  width: 200px;
  height: 20px;
  margin-left: -100px;
}

.leaflet-popup-content {
  margin: 0;
}

.leaflet-popup-content > div {
  padding: 13px 19px;
}
