.neighbourNodeInfoView {
  min-width: 21px;

  .loaderContainer > div {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-left: -10px;
  }

  .content {
    max-height: 400px;

    .header {
      font-weight: 600;
    }

    .item {
      display: flex;
      flex-direction: row;

      > div {
        margin-right: 20px;
      }
    }
  }
}