@import '../../../shared/styles/common';

.node {
    display: block;
    opacity: 0.8;

    .nodeBase {
        border-radius: 100px;
        border-style: solid;
        height: 12px;
        width: 12px;
        border-width: 3px;
        margin: -3px;

        &.measured {
            background-color: $nodeMeasuredColor;
        }
        &.manual {
            background-color: $nodeManualColor;
        }
        &.projection {
            background-color: $nodeProjectionColor;
        }
    }

    .neighborMarker {
        position: absolute;
        width: 24px;
        height: 24px;
        top: -4px;
        left: -4px;

        .usageAmount {
            font-size: 17px;
            font-weight: 900;
            text-align: center;
            color: white;
            line-height: 24px;
        }
    }

    .highlight {
        box-shadow: 0px 0px 15px 9px $busBlue;
    }
}

.crossroadCircle {
    stroke: none;
    fill: #727272;
    fill-opacity: 0.3;
}

.stopCircle {
    stroke: none;
    fill: $busBlue;
    fill-opacity: 0.3;
}

.nodeLabel {
    position: absolute;
    left: 30px;
    font-weight: 600;
    text-shadow: 0 0 5px white, 0 0 5px white;
}
