@import '../../../shared/styles/common';

.node {
    display: block;
    opacity: 0.8;

    .nodeBase {
        border-radius: 100px;
        border-style: solid;
        height: 12px;
        width: 12px;
        border-width: 3px;
        margin: -3px;

        &.measured {
            background-color: $nodeMeasuredColor;
        }
        &.manual {
            background-color: $nodeManualColor;
        }
        &.projection {
            background-color: $nodeProjectionColor;
        }
    }

    .crossroadMarker {
        border-color: #727272;
        background-color: #FFF;
    }

    .crossroadMarkerHighlight {
        border-color: #727272;
        background-color: #727272;
    }

    .stopMarker {
        border-color: #007ac9;
        background-color: #FFF;
    }

    .stopMarkerHighlight {
        border-color: #007ac9;
        background-color: #007ac9
    }

    .municipalityMarker {
        border-color: #c900ff;
        background-color: #FFF;
    }

    .municipalityMarkerHighlight {
        border-color: #FF00F0;
        background-color: #FF5555;
    }

    .unknownMarker {
        border-color: #ff0000;
        background-color: #000;
    }

    .unknownMarkerHighlight {
        border-color: #ff0000;
        background-color: #000;
    }

    .disabledMarker {
        border-color: #353333;
        background-color: #615e5e;
    }

    .disabledMarkerHighlight {
        border-color: #353333;
        background-color: #615e5e;
    }

    .timeAlignmentMarker {
        background: url('~/icons/time.svg');
        background-color: white;
        border-style: none;
        height: 20px;
        width: 20px;
    }

    .neighborMarker {
        position: absolute;
        width: 20px;
        height: 20px;
        top: -4px;
        left: -4px;
        border-color: #ca00f7;
        background-color: #ca00f7;
    }

    .highlight {
        box-shadow: 0px 0px 15px 9px $busBlue;
    }

}

.crossroadCircle {
    stroke: none;
    fill: #727272;
    fill-opacity: 0.3;
}

.stopCircle {
    stroke: none;
    fill: $busBlue;
    fill-opacity: 0.3;
}

.nodeLabel {
    position: absolute;
    left: 20px;
    top: 3px;
    font-weight: 600;
    text-shadow: 0 0 5px white, 0 0 5px white;
}
