.crossroadMarker {
    border-color: #727272;
    background-color: #fff;
}

.crossroadMarkerHighlight {
    border-color: #727272;
    background-color: #727272;
}

.stopMarker {
    border-color: #007ac9;
    background-color: #fff;
}

.stopMarkerHighlight {
    border-color: #007ac9;
    background-color: #007ac9;
}

.municipalityMarker {
    border-color: #c900ff;
    background-color: #fff;
}

.municipalityMarkerHighlight {
    border-color: #ff00f0;
    background-color: #ff5555;
}

.unknownMarker {
    border-color: #ff0000;
    background-color: #000;
}

.disabledMarker {
    border-color: #353333;
    background-color: #615e5e;
}

.disabledMarkerHighlight {
    border-color: #353333;
    background-color: #615e5e;
}

.timeAlignmentMarker {
    background: url('~/icons/time.svg');
    background-color: white;
    border-style: none;
    height: 20px;
    width: 20px;
}
