@import '../../../shared/styles/common';
@import '../../../shared/styles/flexbox';
@import '../../../shared/styles/form';

.linkView {
    display: flex;
    flex-direction: column;
    width: 500px;

    .content {
        padding: 20px;
        overflow-y: scroll;
        flex-grow: 1;

        .column {
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            padding-right: 10px;
        }
    
        .buttonBar {
            display: flex;
            flex-direction: row;
            padding-top: 10px;
            justify-content: space-between;
        }
    }

    &.loaderContainer > div {
        margin: 30px auto;
    }
}
