@import './styles/form';

.routeActiveSchedules {
    .header {
        color: #000;
        font-weight: normal;
    }

    .subSection {
        padding-top: 10px;

        div {
            padding-top: 5px;
        }
    }
    .subSection:first-of-type {
        padding-top: 0px;
    }
}
