@import './styles/common';

.tabs {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .tabList {
        display: flex;

        .tab {
            padding: 10px;
            width: 100%;
            height: 40px;
            background-color: $lightGrey;
            border-bottom: 1px solid $mediumLightGrey;
            border-right: 1px solid $mediumLightGrey;
            border-left: 1px solid $mediumLightGrey;
            text-align: center;
            color: $blue;
            font-weight: 500;
            top: 50%;
            transition: 0.2s;
            cursor: pointer;
            display: inline-block;
            width: 50%;
            box-sizing: border-box;
        }

        .active {
            background-color: $backgroundlightGrey;
            color: black;
            font-weight: 500;
            border-bottom: none;
            border-left: none;
            border-right: none;
        }

        .disabled {
            cursor: auto;
            pointer-events: none;
            background-color: rgba(0, 0, 0, 0.3);
            filter: brightness(75%);
        }
    }

    .contentList {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        .contentItem {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    }
}
