@import './styles/common.scss';

.toggleView {
    display: flex;
    border-bottom: 1px solid black;

    .buttonContainer {
        display: flex;
        flex-grow: 1;
        width: 100%;

        .button {
            display: flex;
            width: 100%;
            color: #eef1f3;
            font-size: 15px;
            text-align: center;
            align-items: center;
            cursor: pointer;
            background-color: #575757;
            padding: 5px 10px 5px 10px;
            transition: .5s;
            line-height: 30px;

            > svg {
                font-size: 25px;
            }

            > div {
                margin: auto;
            }
        }

        .active {
            background-color: #027ac9;
        }
    }

    .buttonContainer:first-child {
        .button {
            border-right: 1px solid black;
        }
    }
}