@import './styles/common.scss';

.toggleView {
    display: flex;

    .buttonContainer {
        display: flex;
        flex-grow: 1;
        width: 100%;

        .button {
            display: flex;
            width: 100%;
            color: $fontColorDefault;
            font-size: 15px;
            text-align: center;
            align-items: center;
            cursor: pointer;
            background-color: $lightGrey;
            padding: 5px 10px 5px 10px;
            transition: 0.5s;
            line-height: 30px;
            opacity: 0.8;

            > svg {
                font-size: 25px;
            }

            > div {
                margin: auto;
            }
        }

        .active {
            color: #eef1f3;
            background-color: #027ac9;
            opacity: 1;
        }
    }

    .toggleItem {
        display: flex;
        width: 100%;
        border-right: 1px solid #bebebe;
    }

    .toggleItem:last-child {
        border-right: none;
    }
}
