@import './styles/common.scss';

.link {
    display: flex;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    transition: 0.5s;

    &.small {
        font-size: $smallFontSize;
        padding: 3px;
    }
    &.medium {
        font-size: $mediumFontSize;
        padding: 5px;
    }
    &.large {
        font-size: $largeFontSize;
        padding: 10px;
    }

    .transitTypeIcon {
        display: flex;
        &.small {
            padding-right: 3px;
        }
        &.medium {
            padding-right: 5px;
        }
        &.large {
            padding-right: 10px;
        }
    }
}
.link:hover {
    background-color: $backgroundHoverColor;
    transition: 0.5s;
}
