@import '../../shared/styles/common.scss';
.coordinateControl {
    box-sizing: unset;
    border: 0px;
    width: 133px;

    .disabled {
        pointer-events: none;
    }
    div {
        height: 29px;
        width: 130px;
        display: inline-block;
        border: 1px solid black;
        background-color: $lightGrey;
    }
    div:nth-of-type(2) {
        margin-top: 5px;
    }
    div > button {
        font-family: $hslFont;
        color: $fontColorDefault;
        background: transparent;
        font-size: $smallFontSize;
        width: 27px;
        border: 0px;
        padding: 0px;
        margin: 0px;
        cursor: pointer;
    }
    div > input {
        font-family: $hslFont;
        color: $fontColorLightGrey;
        font-size: $smallFontSize;
        height: 100%;
        width: 100px;
        margin: 0px;
        border: 0px;
        border-left: 1px solid black;
        padding: 0px 0px 0px 2px;
        box-sizing: unset;
        border-radius: 0;
    }
}
