@import '../../shared/styles/common.scss';
@import '../../shared/styles/flexbox.scss';

.mapLayerControlView {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;

    .checkboxContainer {
        padding-top: 10px;
        display: flex;
    }

    .sectionDivider {
        margin: 10px 0px 10px 0px;
        border-bottom: 1px solid rgb(222, 222, 222);
        text-align: left;
    }

    .mapLayersContainer {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 3px;
        box-shadow: 0 0 4px #666666;
        padding: 20px;
        min-width: 250px;

        .inputTitle {
            font-size: 0.8rem;
            font-weight: 900;
            color: rgb(137, 137, 137);
            letter-spacing: 0em;
            padding-bottom: 3px;
            display: block;
            text-transform: uppercase;
        }
    }
}

.mapLayerControlIcon {
    display: flex;
    font-size: $largeFontSize;
    line-height: $largeFontSize;
    cursor: pointer;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 4px #666666;
    color: #007ac9;
}
