@import '../../shared/styles/common.scss';
@import '../../shared/styles/mapControl';

.measurementControlView {
    @extend %soloControl;
    color: $busBlue;
    display: flex;
    margin: 10px 0px 0px auto;
}
.measurementCursor {
    cursor: crosshair;
}

.movingPolyline {
    @extend .no-events;
    stroke: black;
    stroke-dasharray: 10px;
}

.polyline {
    stroke: $darkGrey;
}

.circleMarker {
    stroke: black;
    fill: $whiteOpaque;
}

.markerPopup :global(.leaflet-popup-content-wrapper) {
    padding: 0px;
    border-radius: 0px;
    font-size: 16px;
}
.markerPopup :global(.leaflet-popup-content) {
    padding: 10px 20px 10px 20px;
    white-space: nowrap;
}

.no-events {
    pointer-events: none;
}
