@import '../../shared/styles/common.scss';
.measurementControlView {
  color: $busBlue;
  display: flex;
}
.measurementCursor {
  cursor: crosshair;
}

.movingPolyline {
  @extend .no-events;
  stroke: black;
  stroke-dasharray: 10px;
}

.polyline {
  stroke: $darkGrey;
}

.circleMarker {
  stroke: black;
  fill: $whiteOpaque;
}

.no-events{
  pointer-events: none;
}