@import '../../shared/styles/common.scss';
.measurementControlView {
  color: $busBlue;
  display: flex;
  background-color: $white;
  box-shadow: 0 0 4px #666666;
  margin: 2px;
  border-radius: 3px;
  padding: 5px;
}
.measurementCursor {
  cursor: crosshair;
}

.movingPolyline {
  @extend .no-events;
  stroke: black;
  stroke-dasharray: 10px;
}

.polyline {
  stroke: $darkGrey;
}

.circleMarker {
  stroke: black;
  fill: $whiteOpaque;
}

.no-events{
  pointer-events: none;
}