@import '../../shared/styles/common.scss';

.networkDateControlView {
    padding-top: 5px;

    label {
        font-size: 0.8rem;
        font-weight: 900;
        color: rgb(137, 137, 137);
        padding-bottom: 3px;
        text-transform: uppercase;
    }

    .networkDateControlInput {
        font-family: $hslFont;
        color: $fontColorLightGrey;
        font-size: $smallFontSize;
        border: 0px;
        padding: 2px;
    }
}
