.flexRow {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flexInnerRow {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.flexInnerColumn {
    display: flex;
    flex-direction: column;
    width:100%;
}

.flexFiller {
    flex-grow: 1;
}

.flexButtonFiller {
    flex-grow: 1;
    flex-basis: 0px;
    padding: 10px;
}

.flexInnerRowFlexEnd {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
}

.flexGrow {
    flex-grow: 1;
    flex-basis: 0px;
    margin-right: 10px;
}

.flexRowAlignedCenter {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    margin-right: 10px;
    align-items: center;
}
