.flexRow {
    display: flex;
    flex-direction: row;
    padding-top:: 10px;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flexInnerRow {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.flexInnerColumn {
    display: flex;
    flex-direction: column;
    width:100%;
}

.flexFiller {
    flex-grow: 1;
}

.flexInnerRowFlexEnd {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
}

.flexInnerRowAligned {
    display: flex;
    width: 100%;
    align-items: flex-end;
}
