.inputContainer {
    padding-right: 10px;
    padding-top: 10px;
    width:100%;
}

.inputContainer:last-of-type {
    padding-right: 0px;
}

.subTopic {
    font-weight: bold;
    color: $mediumGrey;
    font-size: $smallFontSize;
}