@import './common';

$marginRight: 10px;

.formItem {
    margin-right: $marginRight;
    padding-top: 10px;
    width:100%;

    .disabled {
        background-color: $disabledGrey;
    }
}

.formItem:last-of-type {
    margin-right: 0px;
}

.inputLabel {
    font-weight: bold;
    color: $mediumGrey;
    font-size: $smallFontSize;
    white-space: nowrap;
    width: 100%;
    margin-bottom: 5px;
}

.topic {
    padding-top: 10px;
    font-weight: bold;
    color: $mediumGrey;
    font-size: $mediumFontSize;
}

.form > .formSection {
    border-bottom: 1.5px solid $lightGrey;
    padding: 20px 0;
    width: 100%;
}

.form > .formSection:last-of-type {
    border-bottom: none;
}

.form > .formSection:first-of-type {
    padding-top: 0;
}
