@import './common';

$marginRight: 10px;

div, input {
    box-sizing: border-box;
}

/* TODO: Rename as formItemContainer? */
.inputContainer {
    margin-right: $marginRight;
    padding-top: 10px;
    width:100%;
}

.inputContainer:last-of-type {
    margin-right: 0px;
}

.inputLabel {
    font-weight: bold;
    color: $mediumGrey;
    font-size: $smallFontSize;
    white-space: nowrap;
    width: 100%;
}

.topic {
    padding-top: 10px;
    font-weight: bold;
    color: $mediumGrey;
    font-size: $mediumFontSize;
}

.sectionDivider {
    padding-top: 20px;
    border-bottom: 1.5px solid $lightGrey;
    width: 100%;
}

.marginFiller {
    margin-right: $marginRight;
}
