@import './common';

.largeButton {
    padding: 20px;
    background-color: $busBlue;
    color: #FFF;
    text-align: center;
    font-size: $mediumFontSize;
    cursor: pointer;
}

.largeButton:hover {
    background-color: darken($busBlue, 10);
}

.sidebarHeaderSection {
    border-bottom: 1.5px solid $mediumLightGrey;
    padding: 15px;
}