@import '../common.scss';

.blue {
    stroke: $blue;
}

.red {
    radius: 50;
    stroke: $red;
}

.green {
    stroke: rgb(0, 255, 0);
    stroke-width: 10;
}

.grey {
    stroke: $grey;
}

.route {
    stroke-width: 4;
}

.node {
    fill: $white;
    fill-opacity: 0.5;
}

.highlightedMarker {
    fill: $darkGrey;
}

.leafletPopup {
    font-family: $hslFont;

    /* Override leaflet's default margin */
    div:first-child div {
        margin: 0 !important;
    }

    /* Override leaflet's default border-radius */
    div:first-child {
        border-radius: 0 !important;
    }

    .popupContainer {
        .popupItem {
            padding: 10px;
            cursor: pointer;
        }
        .popupItem:hover {
            background-color: $backgroundlightGrey;
        }
    }
}
