@import '../common.scss';

.grey {
    stroke: $grey;
}

.route {
    stroke-width: 4;
}

.leafletPopup {
    font-family: $hslFont;
    
    /* Override leaflet's default margin */
    div:first-child div {
        margin: 0 !important;
    }

    /* Override leaflet's default border-radius */
    div:first-child {
        border-radius: 0 !important;
    }

    .popupContainer {
        .popupItem {
            padding: 10px;
            cursor: pointer;
        }
        .popupItem:hover {
            background-color: $backgroundlightGrey;
        }
    }
}
