@import '../../../shared/styles/common.scss';

.nodeUsageList {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow: auto;
    padding: 15px;

    .topic {
        font-weight: bold;
        font-size: $mediumFontSize;
        text-align: center;
    }

    .usageListItem {
        display: flex;
        font-size: $smallFontSize;
        margin: 2px 0px;

        div {
            display: flex;
            align-items: center;
            text-align: center;
            white-space: nowrap;
            margin-left: 3px;
            margin-right: 3px;
        }
        div:first-of-type {
            margin-left: 0px;
        }
        div:last-of-type {
            margin-right: 0px;
        }

        .transitTypeLinkWrapper {
            width: 82px;
        }

        .direction {
            width: 7px;
        }

        .place {
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 75px;
        }
    }
}
