@import '../../../shared/styles/common.scss';

.nodePopup {
    .sidebarHeaderWrapper {
        padding: 12px;
        border-bottom: 1px solid $lightGrey;
    }
    .nodeFormWrapper {
        overflow-y: auto;
        max-height: 450px;
        padding: 0px 20px 0px 20px;
        width: 360px;
    }

    .headerShortId  {
        font-size: $mediumFontSize;
        padding-left: 10px;
        line-height: 28px;
        display: flex;
        align-items: flex-end;
    }
}
