@import '../../../shared/styles/common.scss';

.selectNetworkEntityPopup {
    padding: 5px 13px 5px 13px;
    font-size: 14px;

    .row {
        display: flex;
        cursor: pointer;
        white-space: nowrap;
        color: #212121;
        background-color: $backgroundlightGrey;
        padding: 5px;
        align-items: center;

        .nodeContainer {
            display: flex;
            padding: 0px 2px 0px 2px;
            align-items: center;
            min-width: 80px;

            .linkNode {
                padding-right: 2px;
            }
        }

        .linkText {
            display: flex;
            padding-left: 10px;

            .divider {
                padding: 0px 3px 0px 3px;
                font-size: 16px;
            }
        }
    }
    .row:hover {
        background-color: $lightGrey;
    }

    .row:first-of-type {
        margin-top: 10px;
    }

    .row:last-of-type {
        margin-bottom: 10px;
    }
}

.nodeOpenConfirmContainer {
    padding: 30px;
    text-align: center;
}
