@import '../../../shared/styles/common.scss';

.selectNetworkEntityPopup {
    padding: 5px 13px 5px 13px;
    font-size: 14px;

    .row {
        display: flex;
        cursor: pointer;
        white-space: nowrap;
        color: #212121;
        background-color: $backgroundlightGrey;
        padding: 5px;
        align-items: center;

        .nodeIcon {
            display: flex;
            font-size: 24px;
        }

        .linkText {
            padding-left: 5px;
        }
    }
    .row:hover {
        background-color: $lightGrey;
    }

    .row:first-of-type {
        margin-top: 10px;
    }

    .row:last-of-type {
        margin-bottom: 10px;
    }
}

.nodeOpenConfirmContainer {
    padding: 30px;
    text-align: center;
}
