@import '../shared/styles/common.scss';

.confirmView {
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        line-height: 30px;
    }

    .padding {
        padding: 30px;
    }

    .buttons {
        padding: 20px;
        border-top: 1px solid $borderLightGrey;
        display: flex;
        justify-content: center;
    }
}
