@import '../shared/styles/common';
@import '../shared/styles/form';
@import '../shared/styles/flexbox';

.savePromptView {
    width: 500px;
    overflow-x: hidden;
    padding: 15px 0px 0px 0px;
    line-height: initial;

    .topic {
        color: $fontColorDefault;
        font-size: $largeFontSize;
        font-weight: 500;
        white-space: nowrap;
        padding: 10px;
        text-align: center;
    }

    .subTopic {
        color: $fontColorDefault;
        font-size: 1rem;
        font-weight: 500;
        white-space: normal;
        padding-bottom: 5px;
        text-align: center;
    }

    .savePromptItem {
        border-bottom: 1px solid $borderLightGrey;
        padding: 10px 0px 10px 0px;
    }

    .savePromptItem:last-of-type {
        padding-bottom: 10px;
        border-bottom: 0px solid $borderLightGrey;
    }

    .savePromptContent {
        height: 450px;
        overflow-y: auto;
        padding: 5px 15px 5px 15px;
        font-size: $smallFontSize;

        .sectionTopic {
            font-size: $mediumFontSize;
            font-weight: 500;
            padding: 5px 0px 5px 0px;
        }
    }

    .savePromptRow {
        padding: 4px 0px 4px 0px;

        .inputLabel {
            font-weight: 500;
            color: $fontColorDefault;
        }

        .attributeWrapper {
            display: flex;

            .oldAttribute {
                display: inline-block;
                background-color: #ffeef0;
                padding: 3px;
                border-radius: 5px;
            }

            .newAttribute {
                display: inline-block;
                background-color: #e6ffed;
                padding: 3px;
                border-radius: 5px;
            }
        }

        .arrowRightWrapper {
            display: flex;
            margin-top: auto;
            margin-bottom: auto;
            padding: 0px 3px 0px 3px;
        }
    }
    .removedItemWrapper {
        text-align: center;

        .oldAttribute {
            display: inline-block;
            background-color: #ffeef0;
            padding: 3px;
            border-radius: 5px;
        }
    }
}
