@import '../shared/styles/common';
@import '../shared/styles/form';
@import '../shared/styles/flexbox';

.savePromptView {
    width: 500px;

    .savePromptRow {
        .inputLabel {
            text-align: center;
        }

        .attributeWrapper {
            flex-grow: 1;
            width: 50%;

            .oldAttribute {
                display: inline-block;
                background-color: #ffeef0;
                padding: 3px;
            }

            .newAttribute {
                display: inline-block;
                background-color: #e6ffed;
                padding: 3px;
            }
        }
        .arrowRightWrapper {
            padding-left: 10px;
            padding-right: 10px;
            margin-top: auto;
            margin-bottom: auto;
        }
    }
}
