@import '../../shared/styles/common.scss';
@import '../../shared/styles/flexbox';
@import '../../shared/styles/form';

.routePathSelectorView {
    padding: 15px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #bebebe;
    border-radius: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .list {
        flex-grow: 1;

        > label {
            margin-bottom: 10px;
        }
    }

    .loader {
        > * {
            margin: 10px auto;
        }
    }
}