@import '../../shared/styles/common.scss';
@import '../../shared/styles/flexbox';
@import '../../shared/styles/form';

.routePathSelectorView {
    padding: 5px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #bebebe;
    border-radius: 5px;
    height: 500px;

    > label {
        margin-bottom: 5px;
    }

    .loader {
        > * {
            margin: 10px auto;
        }
    }
}