@import '../../shared/styles/common.scss';
@import '../../shared/styles/flexbox';
@import '../../shared/styles/form';

.splitLinkInfo {
    display: flex;
    flex-direction: column;

    .sectionHeader {
        margin-top: 20px;
    }
}