.splitLinkView {
    display: flex;
    flex-direction: column;
    width: 500px;

    .content {
        padding: 20px;
        overflow-y: auto;
        flex-grow: 1;
    }

    &.loaderContainer > div {
        margin: 30px auto;
    }
}