@import '../../../shared/styles/common';
@import '../../../shared/styles/sidebar';
@import '../../../shared/styles/flexbox';
@import '../../../shared/styles/form';

.stopAreaView {
    width: $sidebarWide;
    display: flex;
    flex-direction: column;

    .content {
        padding: 20px;
        overflow-y: auto;
        flex-grow: 1;
    }
}
