@import '../shared/styles/common.scss';

$defaultColor: #fff;
$defaultBackgroundColor: $busBlue;

.button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
    font-size: $mediumFontSize;
    padding: $buttonPadding;
    border: hidden;
    margin-right: 15px;
    color: $defaultColor;
    background-color: $defaultBackgroundColor;
}
.button:hover {
    background-color: darken($defaultBackgroundColor, 10);
}

.button:last-of-type {
    margin-right: 0px;
}

.round {
    color: $defaultColor;
    border-radius: 20px;
}

.save {
    background-color: #00ba11;
    color: $defaultColor;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0;
    padding: 20px;
}

.save:hover {
    background-color: darken($saveButtonGreen, 10);
}

.reverseColor {
    color: $defaultBackgroundColor;
    background-color: unset;
}

.reverseColor:hover {
    color: $defaultColor;
    background-color: $defaultBackgroundColor;
}

.wide {
    width: 100%;
}

.hasPadding {
    padding: 20px;
}

.transition {
    transition: 0.5s;
}

.disabled {
    background-color: $disabledGrey;
    cursor: default;
    pointer-events: none;
    color: $defaultColor;
}
