@import '../shared/styles/common.scss';

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 2;
    cursor: pointer;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    font-size: $mediumFontSize;
    letter-spacing: -.025em;
    font-size: $mediumFontSize;
    padding: 10px;
    border: hidden;
    border-radius: 5px;
}

.primary {
    background-color: $busBlue;
    color: #fff;
}

.primary:hover {
    background-color: darken($busBlue, 10);
}

.secondary {
    background-color: #fff;
    color: $fontColorDefault;
    border: 1px solid $darkGrey;
}

.secondary:hover {
    background-color: darken(#fff, 10);
}

.round {
    background-color: $busBlue;
    color: #fff;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    width:100%;
    white-space: nowrap;
    margin-right: 15px;
}

.round:last-of-type {
    margin-right: 0px;
}

.round:hover {
    background-color: darken($busBlue, 10);
}
