@import '../shared/styles/common.scss';

.button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
    font-size: $mediumFontSize;
    padding: $buttonPadding;
    border: hidden;
    border-radius: 5px;
    margin-right: 15px;
}

.button:last-of-type {
    margin-right: 0px;
}

.square {
    background-color: $busBlue;
    color: #fff;
}

.square:hover {
    background-color: darken($busBlue, 10);
}

.squareSecondary {
    background-color: #fff;
    color: $fontColorDefault;
    border: 1px solid $darkGrey;
}

.squareSecondary:hover {
    background-color: darken(#fff, 10);
}

.round {
    background-color: $busBlue;
    color: #fff;
    border-radius: 20px;
}

.round:hover {
    background-color: darken($busBlue, 10);
}

.save {
    padding: 20px;
    background-color: #00ba11;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0;
}

.save:hover {
    background-color: darken($saveButtonGreen, 10);
}

.disabled {
    background-color: $disabledGrey;
    cursor: default;
    pointer-events: none;
}
