.calculateInputFieldView {
    display: flex;
    flex-direction: row;
    width: 100%;

    .calulateButton {
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
            display: block;
            font-size: 14px;
        }
    }
}
