@import '../shared/styles/common.scss';

.container {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: $mediumFontSize;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    display: none;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid $busBlue;
    border-radius: 5px;
}

/* On mouse-over, add a slightly grey background color */
.container:hover input ~ .checkmark {
    background-color: #e0e0e0;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: $white;
}

/* On checked input mouse-over, add a slightly grey background color */
.container input:checked:hover ~ .checkmark {
    background-color: #e0e0e0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid $busBlue;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}