@import '../shared/styles/common.scss';
@import '../shared/styles/form';

.dropdownView {
    .disableEditing {
        white-space: nowrap;
        height: $inputFieldHeight;
        line-height: $inputFieldHeight;
    }

    .greyBackground {
        background-color: $disabledGrey;
        pointer-events: none;
        cursor: default;
    }

    .loaderContainer {
        display: flex;
        justify-content: center;
    }
}
