@import '../shared/styles/common';
@import '../shared/styles/form';

.inputContainer {
    .inputField {
        display: flex;
        align-items: center;
    }

    .redInputText {
        color: $red;
    }
}
