@import '../shared/styles/common';
@import '../shared/styles/form';

.inputContainer {
    .inputField {
        display: flex;
        align-items: center;
    }

    .calendarIcon {
        position: absolute;
        right: 8px;
        font-size: 22px;
        pointer-events: none;
    }
}
