.login-button-sidebar {
  position: absolute;
  display: inline-block;
  right: 5px;
  cursor: pointer;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  font-size: 1rem;
  color: rgb(0, 122, 201);
  letter-spacing: -.025em;
  font-size: .92rem;
  margin: 0;
  padding-right: 5px;
  background-color: #eef1f3;
  font-family: Gotham Rounded SSm A,Gotham Rounded SSm B,Arial,Georgia,Serif;
  z-index:10;
}
