@import '../../common.scss';

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-top: 5px;
    cursor: pointer;
    font-size: $mediumFontSize;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  /* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
  
  /* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 50%;
}
  
/* On mouse-over, add a slightly grey background color */
.container:hover input ~ .checkmark {
    background-color: #e6e6e6;
}
  
  /* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: $busBlue;
}
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
  /* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
  
  /* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}