.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dedede;
  transition: .4s;
  border-radius: 30px; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%; }

input:checked + .slider:before {
  transform: translateX(26px); }

input:checked + .bus {
  background-color: #007ac9; }

input:checked + .tram {
  background-color: #00985f; }

input:checked + .train {
  background-color: #8c4799; }

input:checked + .ferry {
  background-color: #00b9e4; }

input:checked + .subway {
  background-color: #ff6319; }
