.transitToggleButtonBarView {
    height: 40px;
    position: relative;
}

.disabledOverlay {
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #7d7d7da3;
}