@import '../shared/styles/common';

.transitToggleButtonBarView {
    position: relative;
    height: 40px;
    flex-shrink: 0;
    flex-direction: row;
    display: flex;
}

.blurredOverlay {
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #7d7d7da3;
}

.errorText {
    color: $errorRed;
    font-size: 12px;
    margin: 4px;
}
