.transitToggleButtonBarView {
    position: relative;
    height: 40px;
    flex-shrink: 0;
    flex-direction: row;
    display: flex;
}

.disabledOverlay {
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #7d7d7da3;
}