@import '../shared/styles/common.scss';

.button {
    flex-grow: 1;
    border: hidden;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.disabled {
    cursor: default;
    pointer-events: none;
}

.toggled {
    background-color: $darkGrey;
    transition: .5s;
}