@import '../../shared/styles/common';
@import '../../shared/styles/flexbox';

.linkView {
    padding: 20px;
    overflow-y: auto;
    width: $sidebarExtraWide;
    overflow-x: hidden;

    input {
        padding: 10px;
        line-height: 20px;
        margin-top: 5px;
        border-radius: 5px;
        width: 100%;
    }

    div, input {
        box-sizing: border-box;
    }

    .column {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-right: 10px;
    }

    .subTopic {
        font-weight: bold;
        color: $mediumGrey;
        font-size: $smallFontSize;
    }

    .textArea {
        padding-bottom: 168px;
        margin-top: 5px;
    }

    .mediumSmallInput {
        width: 70px;
        margin-right: 10px;
    }

    .smallInput {
        width: 35px;
        text-align: center;
        padding-left: 1px;
        padding-right: 1px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .checkBoxContainer {
        margin-top: 15px;
    }

    .inputContainer {
        padding-right: 10px;
        padding-top: 10px;
        width:100%;
    }

    .inputContainer:last-of-type {
        padding-right: 0px;
    }

    .smallInputContainer {
        padding-right: 8px;
        padding-bottom: 8px;
    }

    .inputRowContainer {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .transitButtonBar {
        padding-top: 10px;
        width: 50%;
    }

    .buttonBar {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        justify-content: space-between;
    }
}
