@import '../../shared/styles/common.scss';

.inputContainer {
    padding-right: 10px;
    padding-bottom: 10px;
    width:100%;
}

.tabsInputContainer {
    width: 100%;
}

.tabsButtonContainer {
    background-color: yellow;
}

.tabButton {
    width:100%;
    height:40px;
    background-color: #dedede;
    border-bottom: none;
    border-top: 1.5px solid #bebebe;
    border-bottom: 1.5px solid #bebebe;
    text-align: center;
    color: rgb(15, 129, 204);
    font-weight: 500;
    top: 50%;
    transform: translateY(3%);
    transition: .2s;
}

.tabLabel {
    top: 50%;
    transform: translateY(50%);
}

.tabButtonLeft {
    border-top-left-radius: 8px;
    border-left: 1.5px solid #bebebe;
    border-right: 1.5px solid #bebebe;
}

.tabButtonMiddle {
    border-right: 1.5px solid #bebebe;
}

.tabButtonRight {
    border-top-right-radius: 8px;
    border-right: 1.5px solid #bebebe;
}

.opened {
    background-color: white;
    color: black;
    font-weight: 500;
    border-bottom: none;
    border-top: 3px solid rgb(15, 129, 204);
}

.tabsInput {
    width:100%;
    height:200px;
    max-height:200px;
    box-sizing: border-box;
    margin-top: 0px;
    border-radius: 0px;
    border-right: 1.5px solid #bebebe;
    border-left: 1.5px solid #bebebe;
    border-top: none;
    border-bottom: 1.5px solid #bebebe;
    outline: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-family: Gotham Rounded SSm A, Gotham Rounded SSm B, Arial, Georgia, Serif;
    resize: none;
}
