@import '../../../shared/styles/flexbox';
@import '../../../shared/styles/common';

.timeAlignmentIcon {
    background: url('~/icons/time.svg');
    background-color: white;
    border-style: none;
    height: 20px;
    width: 20px;
}

.shadow {
    background-color: #80808024;
}

.item {
    border-bottom: 1.5px solid $lightGrey;
    position: relative;

    .headerIcon {
        width: 30px;
        position: absolute;
        height: 30px;
        left: 5px;
        top: 50%;
        margin-top: -15px;

        & > div {
            margin-left: auto;
            margin-right: auto;
            margin-top: 7px;
        }

        .iconBorder {
            border-style: solid;
            border-radius: 30px;
            display: table;
            border-width: 3px;
        }

        .nodeIcon {
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: white;
        }

        .linkIcon {
            display: block;
            height: 90px;
            background-color: #639fd5;
            width: 5px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -2.5px;
            margin-top: -45px;
        }
    }

    .itemHeader {
        display: flex;
        flex-direction: row;
        border-right: 3px solid $backgroundlightGrey;
        cursor: pointer;

        .headerContent {
            padding: 15px;
            position: relative;
            align-self: center;
            display: flex;
            padding-left: 40px;
        
            .label {
                margin-left: 30px;
                color: $blue;
                font-weight: bold;
                font-size: 22px;
                white-space: nowrap;

                .headerContentDescription {
                    > div {
                        display: inline-block;
                        width: 80px;
                    }
                    > span {
                        margin-left: 10px;
                        font-size: 14px;
                    }
                }
            }
        
            .headerDescription {
                margin-left: 10px;
                color: #0dd5cd;

                .descriptionLabel {
                    font-size: 10px;
                }

                .descriptionValue {
                    font-size: 16px;
                }
            }
        
            .headerIconContainer {
                width: 125px;
                display: flex;
                line-height: 25px;
            }
        }
    
        .itemToggle {
            font-size: 22px;
            color: $mediumGrey;
            transition: .5s;
            padding: 15px;
            width: 100%;
            text-align: end;
    
            :hover {
                color: darken($mediumGrey, 10);
                transition: .5s;
            }
        }
    }

    .itemContent {
        min-height: 200px;
        padding: 10px;
        margin-left: 45px;
        border-right-style: solid;
        border-color: #0285d0;
        border-width: 3px;

        .extendedContent {
            .header {
                font-size: 20px;
            }
        
            .stopContent {
                margin-top: 10px;
            }
        
            .nodeContent {
                margin-top: 10px;
            }
        
            .footer {
                margin-top: 15px;
        
                svg {
                    position: absolute;
                    right: 15px;
                }
            }
        }
    }


    .itemExtended {
        border-right: 3px solid $blue;
    }

    .itemHeader:hover {
        border-right: 3px solid $blue;
    }

    .disabled {
        color: red;
    }
}