@import '../../shared/styles/common';
@import '../../shared/styles/flexbox';
@import '../../shared/styles/form';

.routeView {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    width: $sidebarNarrow;
    padding: 15px;

    .routeFormWrapper {
        padding: 15px 0px 15px 0px;
    }
}
