@import '../../shared/styles/common.scss';
.routeListView {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: $sidebarWide;

    .routesText {
        font-weight: bold;
    }
}
