@import '../../shared/styles/common.scss';
@import '../../shared/styles/form.scss';

.routeListView {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: $sidebarWide;
    background-color: #eef1f3;

    .contentWrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        height: 100%;
        .searchContainerWrapper {
            position: absolute;
            display: flex;
            flex-direction: column;
            z-index: 999;
            height: 100%;
            width: 100%;
            background-color: #eef1f3;
        }

        .routeList {
            border-top: 1px solid $borderLightGrey;

            .routeListItem:not(:first-child) {
                padding-top: 10px;
            }
        }

        .routeItemWrapper {
            border-top: 1px solid #bebebe;
        }
    }

    .routesText {
        font-weight: bold;
    }
}
