@import '../../shared/styles/common';
@import '../../shared/styles/flexbox';

.routePathListTab {
    .groupedRoutes {
        padding: 10px 15px;

        .groupedRoutesDates {
            display: flex;
        }

        .groupedRoutesContent {
            padding-left: 10px;
        }
    }

    .shadow {
        background-color: white;
    }

    .routePathContainer {
        display: flex;
        -webkit-box-align: center;
        justify-content: space-between;
        flex-direction: row;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 5px;

        .routePathInfo {
            display: flex;
            &.highlight {
                font-weight: bold;
            }

            .routePathDirection {
                font-size: 1.2rem;
                display: flex;
                width: 25px;
                align-items: center;
            }

            .stopNameLoader {
                display: flex;
                justify-content: center;
                width: 150px;
            }

            .destinations1 {
                font-size: $mediumFontSize;
            }

            .destinations2 {
                color: $mediumLightGrey;
                font-size: $smallFontSize;
            }
        }

        .routePathControls {
            display: flex;

            > * {
                margin: 0 5px;
            }

            .openRoutePathViewButton {
                font-size: 1.8em;
                padding: 3px;
            }
        }
    }
}

.routeItemView:first-of-type {
    .routeName {
        padding: 15px;
    }
}

.noRoutePathsMessage {
    padding: 15px;
}

.toggleAllRoutePathsVisibleButton {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    .toggleAllRoutePathsVisibleText {
        color: $busBlue;
        text-decoration: underline;
    }
    .threeDots {
        position: relative;
        top: -8px;
        color: $fontColorDefault;
        letter-spacing: 5px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        line-height: 0.5;
    }
}

.toggleAllRoutePathsVisibleButton:hover {
    .toggleAllRoutePathsVisibleText {
        color: darken($busBlue, 10);
    }
}
