@import '../../shared/styles/common';
@import '../../shared/styles/flexbox';

$newHighlightBorderColor: #7fda87;
$newHighlightBackgroundColor: #e0fde2;

.routePathGroup {
    padding: 5px 10px;

    .dateContainer {
        display: flex;
    }
    .editingDisabledDateContainer {
        padding: 5px;
    }

    .routePathContainer {
        margin-top: 2px;

        .routePath {
            display: flex;
            -webkit-box-align: center;
            justify-content: space-between;
            flex-direction: row;
            -ms-flex-align: center;
            align-items: center;

            .routePathInfoNotEditing {
                display: flex;
                cursor: pointer;
            }

            .routePathInfoNotEditing:hover {
                transition: 0.5s;
                background-color: $backgroundHoverColor;
            }

            .routePathInfoEditing {
                display: flex;
            }

            .routePathHighlighted {
                font-weight: bold;
            }

            .routePathDirection {
                font-size: $largeFontSize;
                display: flex;
                width: 25px;
                align-items: center;
            }

            .stopNameLoader {
                display: flex;
                justify-content: center;
                width: 150px;
            }

            .destinations1 {
                font-size: $mediumFontSize;
            }

            .destinations2 {
                color: $mediumLightGrey;
                font-size: $smallFontSize;
            }

            .routePathControls {
                display: flex;
                align-items: center;
                > * {
                    margin: 0 2px;
                }
            }

            .shadow {
                background-color: white;
            }

            .separateNewRoutePathButton {
                border: none;
                color: $fontColorDefault;
            }
            .separateNewRoutePathButton:hover {
                color: white;
                background-color: $fontColorDefault;
            }

            .removeNewRoutePathButton {
                border: none;
                color: $red;
            }
            .removeNewRoutePathButton:hover {
                color: white;
                background-color: $red;
            }

            .selectRoutePathToBeComparedButton {
                border-radius: 20px;
                padding: 15px;
                width: 20px;
                height: 20px;
                border: 1px solid $busBlue;
            }

            .selectRoutePathToBeComparedButtonInactive {
                color: $busBlue;
                background-color: #fff;
            }
            .selectRoutePathToBeComparedButtonActivate {
                color: #fff;
                background-color: $busBlue;
            }
        }

        .rpNoHighlight {
            padding: 5px;
        }

        .rpHighlighAsNew {
            border-top: 2px solid $newHighlightBorderColor;
            border-right: 2px solid $newHighlightBorderColor;
            border-left: 2px solid $newHighlightBorderColor;
            background-color: $newHighlightBackgroundColor;
            padding: 3px;
        }
        .rpHighlighAsNew:last-of-type {
            border-bottom: 2px solid $newHighlightBorderColor;
            border-right: 2px solid $newHighlightBorderColor;
            border-left: 2px solid $newHighlightBorderColor;
        }

        .rpHighlighAsNew + .rpNoHighlight {
            border-top: 2px solid $newHighlightBorderColor; // Special case: if .rpNoHighlight is after .rpHighlighAsNew, set border-top to .rpNoHighlight to finish the borders
        }

        .highlightAsSelected {
            background-color: $highlightedItemColor;
        }
    }
}

.routePathGroup:nth-child(even) {
    background-color: #fff;
}
