@import '../../shared/styles/common.scss';
@import '../../shared/styles/form.scss';

.routeListView {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: $sidebarWide;
    background-color: #eef1f3;

    .contentWrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        height: 100%;

        .searchContainerWrapper {
            position: absolute;
            display: flex;
            flex-direction: column;
            z-index: 999;
            height: 100%;
            width: 100%;
            background-color: #eef1f3;
        }

        .toggleActiveLinesContainer {
            display: flex;
            padding: 5px;
        }

        .routeList {
            border-top: 1px solid $borderLightGrey;

            .routeListItem:not(:first-child) {
                padding-top: 10px;
            }

            .schedulesLink {
                display: flex;
                padding: 10px;
                font-weight: bold;
                cursor: pointer;
                align-items: center;
                transition: 0.5s;
                color: $busBlue;
            }

            .schedulesLink:hover {
                background-color: $backgroundHoverColor;
                transition: 0.5s;
            }

            .activeSchedulesLink {
                color: #fff;
                background-color: $busBlue;
                transition: 0.5s;
            }
            .activeSchedulesLink:hover {
                background-color: darken($busBlue, 10);
                transition: 0.5s;
            }

            .routeActiveSchedulesWrapper {
                padding: 10px;
                border-bottom: 1px solid #bebebe;
            }
        }

        .routeItemWrapper {
            border-top: 1px solid #bebebe;
        }
    }

    .routesText {
        font-weight: bold;
    }
}

.routeListWide {
    width: $sidebarExtraWide;
}
