@import '../../shared/styles/common';
@import '../../shared/styles/flexbox';
@import '../../shared/styles/form';

.routeTab {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    padding: 15px;
}
