@import '../../shared/styles/common.scss';
@import '../../shared/styles/form.scss';

.routeListView {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .routeList {
        border-top: 1px solid $borderLightGrey;

        .routeListItem:not(:first-child) {
            padding-top: 10px;
        }
    }

    .routeItemWrapper {
        border-top: 1px solid #bebebe;
    }

    .buttonContainer {
        div {
            margin: 0px 0px 1px 0px;
        }
    }
}
