@import '../../shared/styles/common';
@import '../../shared/styles/flexbox';

.routePathListTab {
    .buttonContainer {
        display: flex;
        width: 100%;
        div {
            margin: 0px 0px 1px 0px;
        }
    }
}

.routeItemView:first-of-type {
    .routeName {
        padding: 15px;
    }
}

.noRoutePathsMessage {
    padding: 15px;
}

.noRoutePathsWithCurrentTimespanMessage {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px 10px 10px 10px;
}

.toggleAllRoutePathsVisibleButton {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    .toggleAllRoutePathsVisibleText {
        color: $busBlue;
        text-decoration: underline;
    }
    .threeDots {
        position: relative;
        top: -8px;
        color: $fontColorDefault;
        letter-spacing: 5px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        line-height: 0.5;
    }
}

.toggleAllRoutePathsVisibleButton:hover {
    .toggleAllRoutePathsVisibleText {
        color: darken($busBlue, 10);
    }
}
