@import '../../shared/styles/common';
@import '../../shared/styles/flexbox';

.routePathListTab {
    .groupedRoutes {
        padding: 10px 15px;

        .groupedRoutesDate {
            color: rgb(102, 102, 102);
            font-weight: 500;
            font-size: 16px;
        }

        .groupedRoutesContent {
            padding-left: 25px;
        }
    }

    .shadow {
        background-color: white;
    }

    .routePathContainer {
        display: flex;
        -webkit-box-align: center;
        justify-content: space-between;
        flex-direction: row;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 5px;

        .routePathInfo {
            &.highlight {
                font-weight: bold;
            }

            .routePathDate {
                font-size: $smallFontSize;
                padding-left: 10px;
                padding-top: 2px;
                display: flex;

                .dateDeltaSeparator {
                    min-width: 20px;
                    text-align: center;
                }
            }
        }

        .routePathControls {
            display: flex;

            > * {
                margin: 0 5px;
            }

            .openRoutePathViewButton {
                font-size: 1.8em;
                padding: 3px;
            }
        }
    }
}

.routeItemView:first-of-type {
    .routeName {
        padding: 15px;
    }
}
