.appView {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .hidden {
        display: none;
    }

    .appContent {
        display: flex;
        flex-direction: row;
    }
}
