@import './shared/styles/common.scss';
.appView {
    display: flex;
    height: 100vh;

    .loginButton {
        bottom: 20px;
        right: 50px;
        position: fixed;
        z-index: 11;
    }

    .hidden {
        display: none;
    }

    .buildInfo {
        position: fixed;
        font-size: 12px;
        margin: 2px;
    }

    .errorBar {
        text-align: center;
        height: 35px;
        background-color: #f77676;
        line-height: 35px;

        > svg {
            float: right;
            margin-right: 30px;
            font-size: 33px;
            cursor: pointer;
        }
    }
}
