.errorBarView {
    height: 35px;
    background-color: #f77676;
    line-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }

    > svg {
        font-size: 33px;
        cursor: pointer;
        margin-right: 20px;
    }
}