.loginModal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.loginModal-content {
  position:relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  width: 40Vh;
  height: 45Vh;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 3px 14px rgba(0,0,0,.4);
}

.modal-button-bar {
  bottom: 15px;
  right: 15px;
  position: absolute;
  display:inline-block;
}

.button-divider {
  width:5px;
  height:auto;
  display:inline-block;
}

.modal-login-button {
  cursor: pointer;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  letter-spacing: -.025em;
  font-size: .92rem;
  height: 2.6rem;
  margin: 0;
  background-color: #007ac9;
  padding: .7em;
  font-family: Gotham Rounded SSm A,Gotham Rounded SSm B,Arial,Georgia,Serif;
  border: hidden;
  border-radius: 5px;
}

.modal-cancel-button {
  cursor: pointer;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  font-size: 1rem;
  border: groove;
  color: #808080;
  letter-spacing: -.025em;
  font-size: .92rem;
  height: 2.6rem;
  margin: 0;
  background-color: #fff;
  border-radius: 5px;
  padding: .7em;
  font-family: Gotham Rounded SSm A,Gotham Rounded SSm B,Arial,Georgia,Serif;
}

.loginModal-label {
  color: rgb(64, 64, 64);
  font-family: Gotham Rounded SSm A,Gotham Rounded SSm B,Arial,Georgia,Serif;
  display: block;
  padding: 3px;
  padding-top:10px;
}

.login-input {
  width:97%;
  height: 20px;
  font-family: Gotham Rounded SSm A,Gotham Rounded SSm B,Arial,Georgia,Serif;
  padding: 3px;
}

h2 {
  color: rgb(64, 64, 64);
  font-family: Gotham Rounded SSm A,Gotham Rounded SSm B,Arial,Georgia,Serif;
}
