@import './shared/styles/common.scss';

@-moz-keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}
 @-webkit-keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}
 @keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}

.notificationView {
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translate(-40%, 0);
    position:absolute;
    z-index: 400;

    .notificationItem {
        position: relative;
        top: 0px;
        z-index: 10;
        padding: 10px 60px 10px 60px;
        max-width: 250px;
        margin: 8px;
        cursor: pointer;
        font-size: $mediumFontSize;
        border-radius: 5px;
        opacity: 1;
        transition: .5s;
        -webkit-animation: fadeIn 500ms;
        -moz-animation: fadeIn 500ms;
        animation: fadeIn 500ms;
    }

    .notificationItemDisappear {
        opacity: 0;
        transition: .5s;
        top: -50px;
    }

    .error {
        color: $errorRed;
        background-color: $errorRedLight;
    }

    .warning {
        color: $warningYellow;
        background-color: $warningYellowLight;
    }

    .success {
        color: $successGreen;
        background-color: $successGreenLight;
    }

}
