@import '../components/shared/styles/common.scss';

.crossroadMarker {
    border-color: $crossroadBorder;
    background-color: $crossroadFill;
}

.crossroadMarkerHighlight {
    border-color: $crossroadBorder;
    background-color: $crossroadFill;
    box-shadow: 0px 0px 15px 9px $municipalityBorder;
}

.stopMarker {
    border-color: $busBlue;
    background-color: #fff;
}

.stopMarkerHighlight {
    border-color: $busBlue;
    background-color: $busBlue;
    box-shadow: 0px 0px 15px 9px $busBlue;
}

.coordinatesProjectionMarker {
    background-color: $nodeProjectionColor;
}

.municipalityMarker {
    border-color: $municipalityBorder;
    background-color: $municipalityFill;
}

.municipalityMarkerHighlight {
    border-color: $municipalityBorder;
    background-color: $municipalityFill;
    box-shadow: 0px 0px 15px 9px $municipalityBorder;
}

.disabledMarker {
    opacity: 0.5;
}

.timeAlignmentMarker {
    background: url('~/icons/time.svg');
    background-color: #fff;
    border-style: none;
    height: 20px;
    width: 20px;
}
