@import '../components/shared/styles/common.scss';

.crossroadMarker {
    border-color: #727272;
    background-color: #cfcfcf;
}

.crossroadMarkerHighlight {
    border-color: #727272;
    background-color: #727272;
    box-shadow: 0px 0px 15px 9px #727272;
}

.stopMarker {
    border-color: #007ac9;
    background-color: #fff;
}

.stopMarkerHighlight {
    border-color: #007ac9;
    background-color: #007ac9;
    box-shadow: 0px 0px 15px 9px #007ac9;
}

.coordinatesProjectionMarker {
    background-color: $nodeProjectionColor;
}

.municipalityMarker {
    border-color: #c900ff;
    background-color: #fff;
}

.municipalityMarkerHighlight {
    border-color: #c900ff;
    background-color: #fff;
    box-shadow: 0px 0px 15px 9px #c900ff;
}

.disabledMarker {
    opacity: 0.5;
}

.timeAlignmentMarker {
    background: url('~/icons/time.svg');
    background-color: white;
    border-style: none;
    height: 20px;
    width: 20px;
}
