@import '../components/shared/styles/common.scss';

.ferry {
    color: $ferryBlue;
}

.bus {
    color: $busBlue;
}

.tram {
    color: $tramGreen;
}

.train {
    color: $trainPurple;
}

.subway {
    color: $subwayOrange;
}

.notFound {
    color: #000;
}

.ferryBg {
    background-color: $ferryBlue;
}

.busBg {
    background-color: $busBlue;
}

.tramBg {
    background-color: $tramGreen;
}

.trainBg {
    background-color: $trainPurple;
}

.subwayBg {
    background-color: $subwayOrange;
}
