@import '../../../shared/styles/common';

.neighborMarker {
    position: absolute;
    width: 24px !important;
    height: 24px !important;
    top: -4px;
    left: -4px;

    .usageCount {
        font-size: 17px;
        font-weight: 900;
        text-align: center;
        color: white;
        line-height: 24px;
    }
}

.nodeUsageList {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow: auto;

    .topic {
        font-weight: bold;
        font-size: $mediumFontSize;
        text-align: center;
    }

    .usageListItem {
        display: flex;
        font-size: $smallFontSize;
        margin: 2px 0px;

        div {
            display: flex;
            align-items: center;
            text-align: center;
            white-space: nowrap;
            margin-left: 3px;
            margin-right: 3px;
        }
        div:first-of-type {
            margin-left: 0px;
        }
        div:last-of-type {
            margin-right: 0px;
        }

        .transitTypeLinkWrapper {
            width: 82px;
        }

        .direction {
            width: 7px;
        }

        .place {
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 75px;
        }
    }
}
