@import '../../shared/styles/common.scss';
@import '../../shared/styles/flexbox';
@import '../../shared/styles/form';

.nodeView {
    display: flex;
    flex-direction: column;
    width: 500px;

    .content {
        padding: 20px;
        overflow-y: auto;
        flex-grow: 1;

        .noBorder {
            border: none;
        }

        .sectionHeader {
            margin-top: 15px;
            font-weight: bold;
        }

        .labelIcon {
            height: 12px;
            margin: 2px 14px;
            width: 12px;
            border-style: solid;
            border-color: #3786cb;
            border-width: 3px;
            border-radius: 12px;
            display: inline-block;
            vertical-align: middle;
        }

        .projected {
            background-color: $nodeProjectionColor;
        }
    }

    &.loaderContainer > div {
        margin: 30px auto;
    }
}
