@import '../../shared/styles/common.scss';
@import '../../shared/styles/flexbox';
@import '../../shared/styles/form';

.nodeView {
    display: flex;
    flex-direction: column;
    width: 500px;

    .content {
        padding: 20px;
        overflow-y: auto;
        flex-grow: 1;

        .idRow {
            > div:first-child {
                max-width: 80px;
            }
        }
    }

    &.loaderContainer > div {
        margin: 30px auto;
    }
}