@import '../../shared/styles/common.scss';
@import '../../shared/styles/flexbox';
@import '../../shared/styles/form';

.nodeView {
    display: flex;
    flex-direction: column;
    width: $sidebarWide;

    .content {
        padding: 20px;
        overflow-y: auto;
        flex-grow: 1;

        .routePathList {
            margin-top: 20px;
        }
    }

    .headerShortId  {
        font-size: $mediumFontSize;
        padding-left: 10px;
        line-height: 23px;
        color: $grey;
        display: flex;
        align-items: flex-end;
    }
}
