@import '../../shared/styles/common.scss';
@import '../../shared/styles/flexbox';
@import '../../shared/styles/form';

.stopView {
    margin-top: 15px;

    .sectionHeader {
        margin-top: 15px;
        font-weight: bold;
    }

    .createNewStopAreaButton {
        white-space: pre-wrap;
        align-self: flex-end;
        height: 30px;
    }

    .formSection:last-of-type {
        padding-bottom: 50px; /* To prevent dropdown from causing a scrollbar */
    }

    .icon {
        font-size: 30px;
        cursor: pointer;
        transition: 0.5s;
        align-self: flex-end;
        margin-right: 10px;
    }

    .icon:hover {
        opacity: 1;
    }
}
