@import '../../shared/styles/common';
@import '../../shared/styles/sidebar';
@import '../../shared/styles/flexbox';
@import '../../shared/styles/form';

.stopAreaView {
    width: $sidebarExtraWide;
    height: 100%;
    display: flex;
    flex-direction: column;

    &.loaderContainer > div {
        margin: 30px auto;
    }

    .content {
        overflow-y: auto;
        flex-grow: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}
