@import '../shared/styles/common';
@import '../shared/styles/form';

.editingDisabled {
    white-space: nowrap;
    height: 43px;
    line-height: 43px;
}

.disabledContainerWrapper {
    display: flex;
    flex-direction: column;
}
