@import '../../common.scss';

.listItemView {

    .lineItem {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 5px;

        .label {
            font-size: $largeFontSize;
            font-weight: 600;
            margin-right: 12px;
            margin-left: 8px;
        }

        .icon {
            flex-shrink: 0;
        }
    }

    .routeItem {
        margin-left: 10px;
        margin-bottom: 10px;

        .routeName {
            font-weight: bold;
            cursor: pointer;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 2px;
            border-radius: 5px;

            transition: .5s;
            width: 90%;
        }

        .routeName:hover {
            background-color: #e6e6e6;
            transition: .5s;
        }

        .routeDate {
            font-size: $smallFontSize;
        }
    }

    .routePathToggle {
        margin-left: auto;
        padding-right: 8px;
        width: 5px;
        height: 5px;
        cursor: pointer;
        position: relative;
        top: -38px; // TODO How to do this properly? pls help
        font-size: 22px;

        color: $mediumGrey;
        background-color: rgb(238, 241, 243);
        border-radius: 5px;
        transition: .5s;

        :hover {
            color: $ferryBlue;
            border-radius: 5px;
            transition: .5s;
        }
    }
}
