.lineSearchView {

  .header {
    padding-right: 40px;

    .label {
      font-weight: 500;
    }

    .inputContainer {
      padding-top: 10px;
      padding-bottom: 10px;

      .input {
        width: 100%;
        height: 28px;
        text-indent: 4px;
        border-radius: 5px;
      }
    }
  }
}