@import '../../common.scss';
.routesEdit {
    .inputWrapper {
        padding-top: 10px;

        .inputContainer {
            text-align: center;
            border-top: 1px solid rgb(222, 222, 222);
            padding-bottom: 20px;
            padding-top: 20px;
        }
    }

    .network {
        border-top: 1px solid rgb(222, 222, 222);
        padding: 20px;
        text-align: center;
    }

    input[type=text] {
        width: 75%;
        height: 30px;
        font-family: hslFont;
        padding: 3px;
        border-radius: 5px;
        border: 1.5px solid rgb(189, 190, 191);
    }

    .inputTitle {
        font-size: 0.8rem;
        font-weight: 900;
        color: rgb(137, 137, 137);
        letter-spacing: 0em;
        padding-bottom: 3px;
        display: block;
    }

    .checkboxContainer {
        padding-top: 20px;
        display: flex;
    }
}