@import '../shared/styles/common';
@import '../shared/styles/flexbox';

.sidebarHeaderView {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .containerLeft {
        display: flex;
        font-size: $extraLargeFontSize;
        font-weight: bold;
    }

    .containerRight {
        display: flex;
    }

    .icon {
        font-size: 30px;
        opacity: 0.8;
        border-radius: 4px;
        padding: 2px;
        cursor: pointer;
        margin: 3px;
        transition: 0.5s;
    }

    .icon:hover {
        opacity: 1;
    }

    .active {
        color: white;
        background-color: $busBlue;
    }
}
