@import '../shared/styles/common.scss';

.sidebarView {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 400px;
    font-size: $mediumFontSize;
    background-color: $backgroundlightGrey;
    z-index: 9;
    border-right: 1px solid #c5c5c5;

    .content {
        overflow-y: auto;
        flex-grow: 1;

        > div {
            height: 100%;
            box-sizing: border-box;
        }
    }
}

.hidden {
    display: none;
}
