@import '../shared/styles/common';
@import '../shared/styles/flexbox';

.sidebarHeaderView {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;


    .topic {
        font-size: $largeFontSize;
        font-weight: bold;
    }

    .icon {
        font-size: 30px;
        opacity: 0.8;
        border-radius: 4px;
        padding: 2px;
        cursor: pointer;
        margin: 3px;
        transition: .5s;
    }


    .icon:hover {
        opacity: 1;
    }

    .active {
        color: white;
        background-color: $busBlue;
    }
}
