@value backgroundLightGray, busBlue, tramGreen, subwayOrange, ferryBlue, trainPurple, hslFont from '../common.css';


.sidebar-container {
  position: absolute;
  display:block;
  bottom: 0px;
  left: 0px;
  font-size: .92rem;
  height: 100Vh;
  margin: auto;
  background-color: backgroundLightGray;
  z-index:9;
  overflow-y: auto;
  min-width: 400px;
  max-width: 400px;
}

.sidebar-header {
  display:block;
  height: auto;
  padding: 20px 20px 20px 20px;
  background-color: busBlue;
  cursor: pointer;
}

.sidebar-header-container {
  text-align: center;
  display:table-cell;
  vertical-align:middle;
}

.sidebar-title {
  display:inline-block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  color: #fff;
  font-weight: normal;
  vertical-align:middle;
  padding-left: 10px;
}

.sidebar-logo {
  display:inline-block;
  height: 40px;
  text-align: center;
  vertical-align:middle;
}

.sidebar-content {
  padding:10px;
  font-family: hslFont;
}

.routes-label {
  font-weight: 500;
}

.input-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.input {
  width:100%;
  height: 28px;
  text-indent: 4px;
  font-family: hslFont;
  border-radius: 5px;
  border: 1.5px solid rgb(189, 190, 191);
}

.transit-toggle-container {
  display: flex;
}

.routes-search-header {
  width:75%;
}

.line-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  cursor: pointer;
}

.line-number-bus {
  color: busBlue;
  font-size: 24px;
  font-weight: 600;
  margin-right: 12px;
  margin-left: 8px;
}

.line-number-subway {
  color: subwayOrange;
  font-size: 24px;
  font-weight: 600;
  margin-right: 12px;
  margin-left: 8px;
}

.line-number-tram {
  color: tramGreen;
  font-size: 24px;
  font-weight: 600;
  margin-right: 12px;
  margin-left: 8px;
}

.line-number-train {
  color: trainPurple;
  font-size: 24px;
  font-weight: 600;
  margin-right: 12px;
  margin-left: 8px;
}

.line-number-ferry {
  color: ferryBlue;
  font-size: 24px;
  font-weight: 600;
  margin-right: 12px;
  margin-left: 8px;
}


.line-icon {
  flex-shrink: 0;
}
