@import '../shared/styles/common';
@import '../shared/styles/flexbox';

.viewHeaderView {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;


    .topic {
        font-size: $largeFontSize;
        font-weight: bold;
    }

    .closeButton {
        font-size: 28px;
        opacity: 0.8;
        cursor: pointer;
    }

    .closeButton:hover {
        opacity: 1;
    }
}
