.node {
    display: block;
    opacity: 0.8;

    /* TODO: move to /shared/xxx? */
    .nodeBase {
        border-radius: 100px;
        border-style: solid;
        height: 12px;
        width: 12px;
        border-width: 3px;
        margin: -3px;
    }

    .newRoutePathMarker {
        border-color: #00df0b;
        background-color: #FFF;
    }

}




