@import '../../../common.scss';

.toolbarView {
    display: flex;
    height: 84px;
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0 0 4px $grey;

    .modeRadioButtonWrapper {
        .modeRadioButtonContainer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 50%;
            width: 130px;
            padding-left: 10px;
            color: $busBlue;
            .triangle {
                display: none;
            }
        }
        .modeRadioButtonContainer.selected {
            background-color: $lightGrey;
            color: $darkGrey;

            .triangle {
                display: flex;
                width: 0; 
                height: 0; 
            }
            .triangle.topTriangle {
                border-top: 21px solid $lightGrey;
                border-bottom: 21px solid $white; 
                border-left: 21px solid $lightGrey; 
                border-right: 21px solid $white;
            }
            .triangle.bottomTriangle {
                border-top: 21px solid $white;
                border-bottom: 21px solid $lightGrey; 
                border-left: 21px solid $lightGrey; 
                border-right: 21px solid $white;
            }
        }
    }

    .toolbarButtonContainer {
        display: flex;
        flex-direction: column;
        color: $busBlue;

        .toolbarButtonRow {
            display: flex;
        }
    }
}