@import '../../../common.scss';

.toolbarToolButtonsView {
    display: flex;
    flex-direction: column;
    color: $busBlue;

    .toolbarButtonRow {
        display: flex;
        div {
            margin: 5px;
        }
    }
}
