@import '../../shared/styles/common.scss';

.toolbarContainer {
    display: inline;

    .toolbarRow {
        display: flex;

        .toolbar {
            display: flex;
            height: 100%;
            background-color: $white;
            border-radius: 3px;
            box-shadow: 0 0 4px $grey;
        }

        .modeSpecificToolbar {
            margin-bottom: 10px;
            margin-right: 10px;

            .tools {
                display: block;
            }
        }
    }
}
