@import '../../shared/styles/common.scss';

.toolbarContainer {
    .toolbarRow {
        display: flex;
        pointer-events: auto;

        .toolbarBlock {
            display: flex;
            height: 100%;
            background-color: $white;
            border-radius: 3px;
            box-shadow: 0 0 4px $grey;
            margin-right: 10px;

            .element {
                display: flex;
            }
        }
        .toolbarBlock:last-of-type {
            margin-right: 0px;
        }
    }
}
