@import '../shared/styles/common.scss';

.loginView {
    width: 100%;
    height: 100%;

    .modalButtonBar {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }

    .label {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }

    input {
        width: calc(100% - 10px);
        height: 20px;
        padding: 5px;
    }
}
