$fontColorDefault: rgb(62, 62, 62);
$fontColorLightGrey: rgb(128, 128, 128);

$hslFont: Gotham Rounded SSm A,Gotham Rounded SSm B,Arial,Georgia,Serif;

$smallFontSize: 0.8rem;
$mediumFontSize: 1rem;
$largeFontSize: 1.5rem;

$busBlue: rgb(0, 122, 201);
$tramGreen: rgb(0, 152, 95);
$subwayOrange: rgb(255,99,25);
$trainPurple: rgb(140, 71, 153);
$ferryBlue: rgb(0,185,228);

$blue: rgb(0, 122, 201);
$red: rgb(201, 0, 0);
$grey: rgb(102, 102, 102);
$white: rgb(255, 255, 255);

$errorRed: #D8000C;
$errorRedLight: #FFD2D2;
$warningYellow: #9F6000;
$warningYellowLight: #FEEFB3;
$successGreen: #4F8A10;
$successGreenLight: #DFF2BF;

$lightGrey: rgb(222,222,222);
$mediumGrey: rgb(137, 137, 137);
$darkGrey: rgb(87,87,87);

$backgroundlightGrey: #eef1f3;

$borderOpaque: rgba(0,0,0,0.2);
$whiteOpaque: rgba(255,255,255,0.5);

$leafletControlBackgroundOpaque: rgba(255,255,255,0);
$leafletControlBackgroundHover: rgba(255,255,255,0.5);
