@import './components/shared/styles/common.scss';

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $hslFont;
    color: $fontColorDefault;
}

input,
select {
    width: 100%;
    padding: 12px;
    border: 1px solid $mediumLightGrey;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-family: $hslFont;
    color: $fontColorDefault;
}

input:focus,
select:focus {
    border: 1px solid $busBlue;
    box-shadow: 0 0 0 1px $busBlue;
}

:global(.leaflet-popup) {
    transition: none !important; // This prevents leaflet-popup-tip-container from blinking when popup is closed
}

:global(.leaflet-popup-content) {
    width: auto !important;
    padding: 0;
    margin: 0;
    border: 1px solid #cacaca;
    box-shadow: none;
}

:global(.leaflet-popup-tip) {
    background: $backgroundlightGrey;
}

:global(.react-datepicker-wrapper) {
    width: 100%;
}

:global(.react-datepicker-popper) {
    z-index: 9999;
}

:global(.react-datepicker__header) {
    select {
        margin-top: 5px;
        padding: 5px;
    }
}
