body {
  margin: 0;
  padding: 0;
  font-family: Gotham Rounded SSm A, Gotham Rounded SSm B, Arial, Georgia, Serif;
  color: #3e3e3e; }

input {
  font-family: Gotham Rounded SSm A, Gotham Rounded SSm B, Arial, Georgia, Serif;
  border: 1.5px solid #bebebe; }
