@import './components/shared/styles/common.scss';

body {
    margin: 0;
    padding: 0;
    font-family: $hslFont;
    color: $fontColorDefault;
}

input,
select {
    width: 100%;
    padding: 12px;
    border: 1px solid $mediumLightGrey;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
    font-family: $hslFont;
    color: $fontColorDefault;
}

input:focus,
select:focus {
    border: 1.5px solid $busBlue;
}

:global(.leaflet-popup-content) {
    width: auto !important;
    padding: 0;
    margin: 0;
}

:global(.leaflet-popup-tip) {
    background: $backgroundlightGrey;
}
