@import '../../common.scss';
button.fullscreenButton {
  display: block;
  background-color: white;
  width: 34px;
  height: 34px;
  border: 2px solid $borderOpaque;
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
  background-clip: padding-box;

  &:hover {
    background-color: $lightGrey;
  }
}