@import '../shared/styles/common.scss';
.mapView {
    transition: 0.5s;
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    #mapLeaflet {
        position: relative;
        z-index: 10;
        flex-grow: 1;
        background-color: #b2b2b2;
    }

    .mapLayersContainer {
        display: flex;
    }
}
