@import './app.scss';
@import './common.scss';

@import './controls/openLoginFormButton.scss';
@import './controls/loginButton.scss';
@import './controls/toggleButton.scss';
@import './controls/transitToggleButton.scss';

@import './login/loginModal.scss';

@import './map/map.scss';

@import './sidebar/lineEditView.scss';
@import './sidebar/sidebar.scss';

body {
    margin: 0;
    padding: 0;
    font-family: $hslFont;
    color: $fontColorDefault;
}

input {
    font-family: $hslFont;
    border: 1.5px solid rgb(190, 190, 190);
}