@import '../../../shared/styles/common';
@import '../../../shared/styles/flexbox';

.routePathComparisonView {
    display: flex;
    flex-direction: column;
    width: $sidebarExtraWide;
    height: 100%;

    .sidebarContainer  {
        padding: 20px;
        border-bottom: 1px solid $borderLightGrey;
    }

    .routePathSelectorsWrapper {
        padding: 20px;
        height: 100%;
        overflow-y: auto;

        .routePathSelectors {
            display: flex;
            margin-top: 10px;

            .routePathSelectionContainer {
                display: flex;
                flex-direction: column;
                width: 50%;
                padding-right: 10px;
                border-right: 1px solid $borderLightGrey;
            }
            .routePathSelectionContainer:last-of-type {
                padding-left: 10px;
                border: none;
            }
        }
    }
}
