@import '../../shared/styles/common.scss';

$nodeItemPadding: 4px;

.nodeItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0px 5px 0px 5px;
    border-radius: 4px;

    > svg {
        margin-right: 10px;
        font-size: 20px;
    }

    .nodeIconWrapper {
        padding: $nodeItemPadding;
        margin-right: 5px;
    }
    .nodeIconWrapper:hover {
        background-color: $backgroundHoverColor;
        transition: 0.5s;
    }

    .nodeItemTextContainer {
        font-size: $largeFontSize;
        display: flex;
        width: 100%;
        padding: $nodeItemPadding;
        align-items: center;

        > div {
            font-size: 14px;
            display: flex;
            text-align: center;
            height: 100%;
            width: 65px;
        }

        .nodeId {
            font-size: 20px;
            color: #5a5a5a;
            font-weight: bold;
            width: 115px;
        }

        .stopName {
            max-width: 90px;
            width: 100%;
            font-size: 10px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: inline-block;
        }
    }
    .nodeItemTextContainer:hover {
        background-color: $backgroundHoverColor;
        transition: 0.5s;
    }
}

