@import '../../shared/styles/common';

.routePathTabButton {
    width: 100%;
    height: 40px;
    background-color: $lightGrey;
    border-bottom: 1px solid $mediumLightGrey;
    border-right: 1px solid $mediumLightGrey;
    border-left: 1px solid $mediumLightGrey;
    text-align: center;
    color: $blue;
    font-weight: 500;
    top: 50%;
    transition: 0.2s;
    cursor: pointer;
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
}

.tabLabel {
    top: 50%;
    transform: translateY(50%);
}

.selected {
    background-color: $backgroundlightGrey;
    color: black;
    font-weight: 500;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
