@import '../../shared/styles/common';
@import '../../shared/styles/sidebar';
@import '../../shared/styles/flexbox';
@import '../../shared/styles/form';

.routePathView {
    width: 600px; // If changed, have to change hard coded routePathLink column widths
    height: 100%;
    display: flex;
    flex-direction: column;

    .content {
        padding: 15px;
    }

    .routePathViewHeader {
        display: flex;
    }

    .linkContainer {
        display: flex;
        align-items: center;
    }

    .subTopicContainer {
        display: flex;
        padding: 5px;
        font-weight: 500;
        color: $fontColorDefault;
        font-size: 1rem;

        .openRoutePathComparisonViewButton {
            margin-left: 10px;
        }
    }

    .staticInfo {
        margin-top: 5px;
        font-size: $smallFontSize;
        margin-right: 10px;
        font-weight: bold;
    }
}
