@import '../../shared/styles/common';
@import '../../shared/styles/flexbox';
@import '../../shared/styles/form';

.routePathView {
    padding: 20px;
    padding-bottom: 30px;
    overflow-y: auto;
    width: $sidebarWide;

    .routeInformationContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top:10px;
    }

    .staticInfo {
        margin-top: 5px;
        font-size: $smallFontSize;
        margin-right: 10px;
        font-weight: bold;
    }
}
