@import '../../shared/styles/common';

.routePathCopySegmentView {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .routePathList {
        overflow-y: auto;
        height: 100%;
        background-color: white;

        .noResultsContainer {
            padding: 20px;
            font-size: $mediumFontSize;
        }

        .routePathRow {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 10px 10px 20px;
            font-size: 15px;

            .timestampRow {
                font-size: $smallFontSize;
            }

            .icons {
                display: flex;

                .icon {
                    position: relative;
                    color: #007ac9;
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                    cursor: pointer;
                    border-width: 1px;
                    border-style: solid;
                    border-color: #e2e2e2;
                    padding: 3px;
                    transition: 0.5s;
                    height: 24px;
                    margin: 2px;
                }
            }
        }
        .routePathRow:nth-child(odd) {
            background-color: #fafafa;
        }
        .routePathRow:hover {
            background-color: $backgroundlightGrey;
        }
    }

    .loaderContainer {
        margin: 10px auto;
        height: 100%;
    }
}

.topic {
    font-weight: bold;
    font-size: 1.2em;
    padding: 20px;
    border-bottom: 1.5px solid #bebebe;
}